@model IEnumerable<BaoVeSolution.WebApplication.DB.Entities.Blog>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var pagedList = (IPagedList)Model;

}
<script>
    $(document).ready(function () {
        $("#inputSearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".table tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<h2>Danh sách bài viết</h2>
<div class="d-flex">
    <div>
        @Html.ActionLink("Thêm mới", "Create")
    </div>
    <div class="ms-auto">
        <label for="inputSearch">Tìm kiếm</label>
        <input type="text" name="inputSearch" id="inputSearch" placeholder="Tìm kiếm..." />
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @{
                    var listParentCategory = (List<BaoVeSolution.WebApplication.DB.Entities.Category>)Session["listParentCategory"];
                    var parrentCategory = listParentCategory.Where(x => x.Id == item.CategoryId).FirstOrDefault();
                }
                @if (parrentCategory != null)
                {
                    <td>@parrentCategory.Name</td>
                }
                else
                {
                    <td>Trống</td>

                }
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <img src="@item.ImagePath" style="width:100px;height:100px;object-fit:contain" alt="blog image" />
                </td>
                <td >
                    <p class="cut-text"> 

                    @Html.DisplayFor(modelItem => item.Description)
                    </p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(pagedList, page => Url.Action("Index",
new { page = page }))