@using PagedList;
@using PagedList.Mvc;
@{
    BaoVeSolution.WebApplication.DB.Entities.Category category = ViewBag.Category;
    //Html.RenderAction("PageHeader", "Layouts", new { categoryName = category.Name });
    @model IEnumerable<BaoVeSolution.WebApplication.DB.Entities.Blog>

    var pagedList = (IPagedList)Model;

}

<!-- Blog Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-end mb-4">
            <div class="col-lg-6">
                <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">Bài viết mới nhất</h6>
                <h1 class="section-title mb-3">Những bài đăng mới nhất từ @category.Name.ToLower()</h1>
            </div>
            <div class="col-lg-6">
                <h4 class="font-weight-normal text-muted mb-3">@category.Description</h4>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="position-relative mb-4">
                        <img class="img-fluid rounded " style="min-width:200px" src="@item.ImagePath" alt="">
                        <div class="blog-date">
                            <h5 class="font-weight-bold text-white mb-n1">@item.DateCreated.Day</h5>
                            <small class="text-white text-uppercase">Tháng @item.DateCreated.Month</small>
                        </div>
                    </div>
                    <div class="d-flex mb-2">
                        <a class="text-secondary text-uppercase font-weight-medium" href="">@item.UserNameCreated</a>
                    </div>
                    <h5 class="font-weight-medium mb-2">@item.Title</h5>
                    <p class="mb-4 cut-text">@item.Description</p>
                    <a class="btn btn-sm btn-primary py-2" href="/BlogDetail/Index/@item.Id">Xem chi tiết</a>
                </div>
            }
            <div class="col-12 row justify-content-center">
                @*                    @(pagedList.PageCount < pagedList.PageNumber ? 0 : pagedList.PageNumber) / @pagedList.PageCount*@

                @Html.PagedListPager(pagedList, page => Url.Action("Index",
                new { categoryId = category.Id, page = page }))
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->