@model BaoVeSolution.WebApplication.DB.Entities.Layout
@{
    Layout = null;
}

<!-- Footer Start -->
<div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
    <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5">
            <a href="index.html" class="navbar-brand">
                <h3 class="m-0 mt-n3 text-primary">@Model.ApplicationName</h3>
            </a>
            <p>@Model.Description</p>
            <h5 class="font-weight-semi-bold text-white mb-2">Giờ hoạt động</h5>
            <p class="mb-1">@Model.OpenTime</p>
            <p class="mb-0">@Model.CloseTime</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="font-weight-semi-bold text-primary mb-4">Liên lạc</h4>
            <p><i class="fa fa-map-marker-alt text-primary mr-2"></i>@Model.Address</p>
            <p><i class="fa fa-phone-alt text-primary mr-2"></i>@Model.PhoneNumber</p>
            <p><i class="fa fa-envelope text-primary mr-2"></i>@Model.Email</p>
            <div class="d-flex justify-content-start mt-4">
                <a class="btn btn-light btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-light btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-light btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-light btn-social" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="font-weight-semi-bold text-primary mb-4">Đường dẫn nhanh</h4>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Trang chủ</a>
                <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Giới thiệu</a>
                <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Dịch vụ</a>
                <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Các dự án </a>
                <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Liên hệ với chúng tôi</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="font-weight-semi-bold text-primary mb-4">Đăng ký thông báo</h4>
            <p>Đăng ký ngay để nhận thông báo mới nhất về chúng tôi</p>
            <div class="w-100">
                <div class="input-group">
                    <input type="text" class="form-control border-0" style="padding: 25px;" placeholder="Email của bạn...">
                    <div class="input-group-append">
                        <button class="btn btn-primary px-4">Đăng ký</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: #3E3E4E !important;">
    <div class="row">
        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
            <div class="row">
                <p class="m-0 text-white col-lg-6">
                    &copy; <a href="#">Bảo vệ @Model.ApplicationName</a>. All Rights Reserved. </a>
                </p>
                <p class="m-0 text-white col-lg-6">Số lượng người đang truy cập: @ApplicationInstance.Application["Totaluser"]</p>
            </div>
        </div>
        <div class="col-lg-6 text-center text-md-right">
            <ul class="nav d-inline-flex">
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">Quyền riêng tư</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">Điều khoản</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">Câu hỏi thường gặp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">Hỗ trợ</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Footer End -->