@model BaoVeSolution.WebApplication.DB.Entities.Layout
@{
    Layout = null;
    List<BaoVeSolution.WebApplication.DB.Entities.Category> category = ViewBag.Category;
}
<!-- Header Start -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 bg-secondary d-none d-lg-block">
            <a href="/" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                <h3 class="m-0 display-3 text-primary">Khánh Toàn</h3>
            </a>
        </div>
        <div class="col-lg-9">
            <div class="row bg-gray d-none d-lg-flex">
                <div class="col-lg-7 text-left text-white">
                    <div class="h-100 d-inline-flex align-items-center border-right border-primary py-2 px-3">
                        <i class="fa fa-envelope text-primary mr-2"></i>
                        <span>@Model.Email</span>
                    </div>
                    <div class="h-100 d-inline-flex align-items-center py-2 px-2">
                        <i class="fa fa-phone-alt text-primary mr-2"></i>
                        <span>@Model.PhoneNumber</span>
                    </div>
                </div>
                <div class="col-lg-5 text-right">
                    <div class="d-inline-flex align-items-center pr-2">
                        <a class="text-primary p-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-primary p-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-primary p-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-primary p-2" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-primary p-2" href="">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg bg-white navbar-light p-0">
                <a href="" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 display-4 text-primary">Khánh Toàn</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="/" class="nav-item nav-link active">Trang chủ</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Giới thiệu</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="/gioi-thieu" class="dropdown-item">Về Khánh Toàn</a>

                                @foreach (var item in category.Where(x => x.ParentId == 1).ToList())
                                {
                                    <a href="/blog/Index?categoryId=@item.Id" class="dropdown-item">@item.Name</a>
                                }
                            </div>
                        </div>

                        <div class="nav-item dropdown">
                            <a href="/tin-tuc" class="nav-link dropdown-toggle" data-toggle="dropdown">Tin tức</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                @foreach (var item in category.Where(x => x.ParentId == 5).ToList())
                                {
                                    <a href="/blog/Index?categoryId=@item.Id" class="dropdown-item">@item.Name</a>
                                }
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="/dich-vu" class="nav-link dropdown-toggle" data-toggle="dropdown">Dịch vụ</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                @foreach (var item in category.Where(x => x.ParentId == 8).ToList())
                                {
                                    <a href="/blog/Index?categoryId=@item.Id" class="dropdown-item">@item.Name</a>
                                }
                            </div>
                        </div>
                        <a href="/video" class="nav-item nav-link">Video</a>

                        <div class="nav-item dropdown">
                            <a href="tuyen-dung" class="nav-link dropdown-toggle" data-toggle="dropdown">Tuyển dụng</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                @foreach (var item in category.Where(x => x.ParentId == 14).ToList())
                                {
                                    <a href="/blog/Index?categoryId=@item.Id" class="dropdown-item">@item.Name</a>
                                }
                            </div>
                        </div>
                        <a href="contact.html" class="nav-item nav-link">Liên hệ</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Header End -->