@model BaoVeSolution.WebApplication.DB.Entities.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Danh mục</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>

        @{
            var listParentCategory = (List<BaoVeSolution.WebApplication.DB.Entities.Category>)Session["listParentCategory"];
            var parrentCategory = listParentCategory.Where(x => x.Id == Model.ParentId).FirstOrDefault();
        }
        @if (parrentCategory != null)
        {
        <dd>@parrentCategory.Name</dd>
        }
        else
        {
        <dd>Trống</dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        @*        thông tin người tạo + người sửa*@

        <dt>
            Người tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserCreate.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>

            Người sửa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserUpdate.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>
        @*        thông tin người tạo + người sửa*@
        <dt>
            @Html.DisplayNameFor(model => model.CategoryState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryState)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Quay lại", "Index")
</p>